## FEATURE ENGINEERING

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data\yellow_tripdata_2015-01.csv")
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12748986 entries, 0 to 12748985
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RateCodeID             int64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.8+ GB

In [4]:
data.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274898e+07,1.274899e+07
mean,1.521437e+00,1.681491e+00,1.345913e+01,-7.256184e+01,3.997282e+01,1.036901e+00,-7.260904e+01,3.999961e+01,1.386712e+00,1.190566e+01,3.082790e-01,4.977986e-01,1.853814e+00,2.434984e-01,2.831431e-01,1.510829e+01
std,4.995402e-01,1.337924e+00,9.844094e+03,1.012510e+01,5.578691e+00,6.732240e-01,9.966037e+00,5.487742e+00,4.988611e-01,1.030254e+01,5.916643e-01,3.534229e-02,1.106432e+03,1.527171e+00,6.908633e-02,1.106503e+03
min,1.000000e+00,0.000000e+00,0.000000e+00,-1.219258e+02,0.000000e+00,1.000000e+00,-7.401667e+02,-9.029157e+00,1.000000e+00,-4.500000e+02,-7.900000e+01,-5.000000e-01,-9.242000e+01,-2.600000e+01,0.000000e+00,-4.503000e+02
25%,1.000000e+00,1.000000e+00,1.000000e+00,-7.399168e+01,4.073554e+01,1.000000e+00,-7.399120e+01,4.073436e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.160000e+00
50%,2.000000e+00,1.000000e+00,1.680000e+00,-7.398160e+01,4.075314e+01,1.000000e+00,-7.397976e+01,4.075362e+01,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01
75%,2.000000e+00,2.000000e+00,3.000000e+00,-7.396662e+01,4.076757e+01,1.000000e+00,-7.396246e+01,4.076880e+01,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.060000e+00,0.000000e+00,3.000000e-01,1.630000e+01
max,2.000000e+00,9.000000e+00,1.542000e+07,7.866265e+01,4.047000e+02,9.900000e+01,8.527402e+01,4.595333e+02,5.000000e+00,4.008000e+03,9.999900e+02,5.000000e-01,3.950589e+06,1.450090e+03,3.000000e-01,3.950612e+06

In [5]:
len(data)

12748986

First we will create a feature for the elapsed time for each ride

In [6]:
import datetime


format_code = "%Y-%m-%d %H:%M:%S"

data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'], format=format_code)
data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'], format=format_code)

data['duration_in_min'] = (data['tpep_dropoff_datetime'] - data['tpep_pickup_datetime']).dt.total_seconds() / 60 

data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration_in_min
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,18.050000
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,19.833333
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,10.050000
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,1.866667
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,19.316667

In [7]:
data["avg_speed"] = 60*(data["trip_distance"]/data["duration_in_min"]) #in mph
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration_in_min,avg_speed
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,...,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,18.050000,5.285319
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,...,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,19.833333,9.983193
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,...,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,10.050000,10.746269
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,...,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,1.866667,16.071429
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,...,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,19.316667,9.318378

DATA CHECKING

In [8]:
data.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration_in_min,avg_speed
count,1.274899e+07,12748986,12748986,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274899e+07,1.274898e+07,1.274899e+07,1.274899e+07,1.273476e+07
mean,1.521437e+00,2015-01-16 14:42:45.468311296,2015-01-16 14:56:56.208538368,1.681491e+00,1.345913e+01,-7.256184e+01,3.997282e+01,1.036901e+00,-7.260904e+01,3.999961e+01,1.386712e+00,1.190566e+01,3.082790e-01,4.977986e-01,1.853814e+00,2.434984e-01,2.831431e-01,1.510829e+01,1.417900e+01,inf
min,1.000000e+00,2015-01-01 00:00:00,2015-01-01 00:00:00,0.000000e+00,0.000000e+00,-1.219258e+02,0.000000e+00,1.000000e+00,-7.401667e+02,-9.029157e+00,1.000000e+00,-4.500000e+02,-7.900000e+01,-5.000000e-01,-9.242000e+01,-2.600000e+01,0.000000e+00,-4.503000e+02,-1.211017e+03,-5.760000e+03
25%,1.000000e+00,2015-01-09 09:26:51,2015-01-09 09:44:29,1.000000e+00,1.000000e+00,-7.399168e+01,4.073554e+01,1.000000e+00,-7.399120e+01,4.073436e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.160000e+00,6.100000e+00,8.349127e+00
50%,2.000000e+00,2015-01-16 11:42:49,2015-01-16 11:56:56,1.000000e+00,1.680000e+00,-7.398160e+01,4.075314e+01,1.000000e+00,-7.397976e+01,4.075362e+01,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,9.950000e+00,1.105008e+01
75%,2.000000e+00,2015-01-23 19:15:29,2015-01-23 19:29:03.750000128,2.000000e+00,3.000000e+00,-7.396662e+01,4.076757e+01,1.000000e+00,-7.396246e+01,4.076880e+01,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.060000e+00,0.000000e+00,3.000000e-01,1.630000e+01,1.578333e+01,1.475481e+01
max,2.000000e+00,2015-01-31 23:59:59,2016-02-02 16:30:52,9.000000e+00,1.542000e+07,7.866265e+01,4.047000e+02,9.900000e+01,8.527402e+01,4.595333e+02,5.000000e+00,4.008000e+03,9.999900e+02,5.000000e-01,3.950589e+06,1.450090e+03,3.000000e-01,3.950612e+06,5.485556e+05,inf
std,4.995402e-01,NaN,NaN,1.337924e+00,9.844094e+03,1.012510e+01,5.578691e+00,6.732240e-01,9.966037e+00,5.487742e+00,4.988611e-01,1.030254e+01,5.916643e-01,3.534229e-02,1.106432e+03,1.527171e+00,6.908633e-02,1.106503e+03,6.493012e+02,NaN

In [9]:
test1= data[data['trip_distance'] == 0]
print(test1)
print(len(test1))

          VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
132              1  2015-01-15 10:26:16   2015-01-15 10:26:42
133              1  2015-01-15 10:26:17   2015-01-15 10:27:28
372              1  2015-01-01 01:08:56   2015-01-01 01:08:56
629              2  2015-01-25 17:45:15   2015-01-25 17:45:21
707              1  2015-01-10 20:14:23   2015-01-10 20:14:36
...            ...                  ...                   ...
12748384         1  2015-01-23 13:46:00   2015-01-23 13:46:00
12748477         1  2015-01-10 16:02:49   2015-01-10 16:02:52
12748621         2  2015-01-29 20:11:11   2015-01-29 20:11:15
12748645         1  2015-01-26 10:06:21   2015-01-26 10:06:48
12748738         1  2015-01-26 10:53:59   2015-01-26 10:54:03

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
132                     2            0.0        -73.987656        40.743645
133                     1            0.0        -73.946526        40.744991
372                     4            0.0        -73.980789        40.676605
629                     1            0.0        -73.975655        40.761318
707                     1            0.0        -73.993271        40.748833
...                   ...            ...               ...              ...
12748384                1            0.0        -73.953789        40.787807
12748477                1            0.0        -73.790611        40.644199
12748621                1            0.0        -73.990959        40.739792
12748645                1            0.0        -73.776711        40.645283
12748738                1            0.0        -73.948990        40.744835

          RateCodeID store_and_fwd_flag  dropoff_longitude  ...  payment_type  \
132                5                  N         -73.987488  ...             1
133                1                  N         -73.946526  ...             2
372                1                  Y           0.000000  ...             2
629                2                  N           0.000000  ...             1
707                1                  N         -73.993271  ...             3
...              ...                ...                ...  ...           ...
12748384           1                  N           0.000000  ...             2
12748477           1                  N         -73.790611  ...             3
12748621           2                  N         -73.990921  ...             2
12748645           1                  N         -73.776810  ...             3
12748738           1                  N         -73.949005  ...             2

          fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
132              60.0    0.0      0.0        15.0           0.0
133               3.0    0.0      0.5         0.0           0.0
372              20.0    0.5      0.5         0.0           0.0
629              52.0    0.0      0.5        20.0           0.0
707               2.5    0.5      0.5         0.0           0.0
...               ...    ...      ...         ...           ...
12748384          6.5    0.0      0.5         0.0           0.0
12748477          2.5    0.0      0.5         0.0           0.0
12748621         52.0    0.0      0.5         0.0           0.0
12748645          2.5    0.0      0.5         0.0           0.0
12748738          2.5    1.0      0.0         0.0           0.0

          improvement_surcharge  total_amount  duration_in_min  avg_speed
132                         0.3          75.3         0.433333        0.0
133                         0.3           3.8         1.183333        0.0
372                         0.0          21.3         0.000000        NaN
629                         0.3          72.8         0.100000        0.0
707                         0.3           3.8         0.216667        0.0
...                         ...           ...              ...        ...
12748384                    0.3           7.3         0.000000        NaN
12748477                    0.3           3.3         0.050000        0.0
12748621                    0.3          52.8         0.066667        0.0
12748645                    0.3           3.3         0.450000        0.0
12748738                    0.3           3.8         0.066667        0.0

[79365 rows x 21 columns]
79365

In [10]:
test2 = data[data['duration_in_min'] < 0]
print(test2)
print(len(test2))

          VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
124637           1  2015-01-09 18:31:01   2015-01-09 18:30:42
156118           1  2015-01-21 07:27:25   2015-01-21 07:26:59
326226           1  2015-01-03 17:45:05   2015-01-03 17:22:59
348236           1  2015-01-07 21:42:21   2015-01-07 21:41:04
395357           1  2015-01-30 13:13:20   2015-01-30 13:12:50
...            ...                  ...                   ...
12484492         1  2015-01-04 13:44:08   2015-01-04 13:43:29
12488245         1  2015-01-21 15:15:05   2015-01-20 19:04:04
12513850         1  2015-01-13 09:08:57   2015-01-13 09:07:53
12616755         1  2015-01-12 09:57:26   2015-01-12 09:57:02
12626802         1  2015-01-02 09:15:20   2015-01-02 09:15:07

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
124637                  1            3.3           0.00000         0.000000
156118                  1           15.4           0.00000         0.000000
326226                  1            9.6           0.00000         0.000000
348236                  1            0.9           0.00000         0.000000
395357                  1            6.8           0.00000         0.000000
...                   ...            ...               ...              ...
12484492                1           10.8           0.00000         0.000000
12488245                1            4.6         -74.00061        40.757637
12513850                1            3.2           0.00000         0.000000
12616755                1            1.8           0.00000         0.000000
12626802                1            1.0           0.00000         0.000000

          RateCodeID store_and_fwd_flag  dropoff_longitude  ...  payment_type  \
124637             1                  N         -73.918335  ...             1
156118             3                  N           0.000000  ...             1
326226             1                  Y         -73.872551  ...             1
348236             2                  N         -73.952972  ...             1
395357             1                  N         -73.998932  ...             1
...              ...                ...                ...  ...           ...
12484492           1                  N         -73.865646  ...             1
12488245           1                  N         -73.945702  ...             1
12513850           1                  N         -73.988251  ...             1
12616755           1                  N         -73.965843  ...             1
12626802           1                  N         -73.988876  ...             1

          fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
124637           15.5    1.0      0.5        4.32          0.00
156118            7.8    0.0      0.0        2.02          0.00
326226           29.5    0.0      0.5        5.00          5.33
348236            5.8    0.0      0.5        1.00          0.00
395357            5.5    0.0      0.5        1.00          0.00
...               ...    ...      ...         ...           ...
12484492         33.0    0.0      0.5       11.64          5.33
12488245         23.0    1.0      0.5        2.20          0.00
12513850         20.0    0.0      0.5        0.00          0.00
12616755          8.5    0.0      0.5        1.00          0.00
12626802          7.7    0.0      0.5        1.70          0.00

          improvement_surcharge  total_amount  duration_in_min    avg_speed
124637                      0.3         21.62        -0.316667  -625.263158
156118                      0.3         10.12        -0.433333 -2132.307692
326226                      0.0         40.63       -22.100000   -26.063348
348236                      0.3          7.60        -1.283333   -42.077922
395357                      0.3          7.30        -0.500000  -816.000000
...                         ...           ...              ...          ...
12484492                    0.0         50.77        -0.650000  -996.923077
12488245                    0.3         27.00     -1211.016667    -0.227908
12513850                    0.3         20.80        -1.066667  -180.000000
12616755                    0.3         10.30        -0.400000  -270.000000
12626802                    0.0         10.20        -0.216667  -276.923077

[297 rows x 21 columns]
297

In [11]:
test3 = data[data['avg_speed'] >60] #Usually not crossed even if the cab gets on highways (~90kmh)
print(test3)
print(len(test3))

          VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
343              2  2015-01-28 21:50:17   2015-01-28 21:50:20
950              1  2015-01-28 20:22:19   2015-01-28 20:23:19
1153             1  2015-01-21 02:01:46   2015-01-21 02:01:52
5233             1  2015-01-11 03:28:03   2015-01-11 03:42:48
6574             1  2015-01-18 12:08:39   2015-01-18 12:09:06
...            ...                  ...                   ...
12744268         1  2015-01-03 15:12:36   2015-01-03 15:12:48
12746976         1  2015-01-02 23:57:09   2015-01-02 23:57:17
12747630         1  2015-01-26 00:48:59   2015-01-26 00:49:02
12747645         1  2015-01-26 00:49:25   2015-01-26 00:49:42
12747829         1  2015-01-23 11:00:22   2015-01-23 11:00:35

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
343                     1           0.08          0.000000         0.000000
950                     2           4.80        -74.035690        40.743649
1153                    1           0.70        -73.995117        40.755959
5233                    1          34.30        -74.003983        40.752075
6574                    1           0.80        -73.983017        40.775459
...                   ...            ...               ...              ...
12744268                2           2.90        -74.014091        40.702492
12746976                1           0.40        -73.790520        40.644234
12747630                2          18.20        -73.814293        40.742886
12747645                1           7.60          0.000000         0.000000
12747829                1           0.50        -73.956703        40.777973

          RateCodeID store_and_fwd_flag  dropoff_longitude  ...  payment_type  \
343                5                  N           0.000000  ...             1
950                5                  N         -74.035713  ...             3
1153               1                  N         -73.995003  ...             3
5233               1                  N         -73.971634  ...             1
6574               1                  N         -73.982758  ...             2
...              ...                ...                ...  ...           ...
12744268           1                  N         -74.014015  ...             2
12746976          99                  N         -73.788956  ...             3
12747630           1                  N         -73.814293  ...             2
12747645           2                  N           0.000000  ...             1
12747829           1                  N         -73.955711  ...             1

          fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
343              50.0    0.0      0.5        0.00          0.00
950               0.0    0.0      0.0        0.00          0.00
1153              2.5    0.5      0.5        0.00          0.00
5233              2.5    0.5      0.5        1.00         10.30
6574              2.5    0.0      0.5        0.00          0.00
...               ...    ...      ...         ...           ...
12744268          2.5    0.0      0.5        0.00          0.00
12746976          0.0    0.0      0.0        0.00          0.00
12747630          2.5    0.5      0.5        0.00          0.00
12747645         52.0    0.0      0.5       11.60          5.33
12747829          2.5    0.0      0.5        0.66          0.00

          improvement_surcharge  total_amount  duration_in_min     avg_speed
343                         0.3         50.80         0.050000     96.000000
950                         0.3          0.30         1.000000    288.000000
1153                        0.3          3.80         0.100000    420.000000
5233                        0.3         15.10        14.750000    139.525424
6574                        0.3          3.30         0.450000    106.666667
...                         ...           ...              ...           ...
12744268                    0.0          3.30         0.200000    870.000000
12746976                    0.0          0.30         0.133333    180.000000
12747630                    0.3          3.80         0.050000  21840.000000
12747645                    0.3         69.73         0.283333   1609.411765
12747829                    0.3          3.96         0.216667    138.461538

[10184 rows x 21 columns]
10184

ESTABLISHING TEMPORARY CONDITIONS -> Use a "cleared dataset" (there are others things to clean but that's for my partner doing the Data Cleaning Part)

In [12]:
condition_distance = data['trip_distance'] > 0
condition_duree = data['duration_in_min'] > 0
condition_vitesse = data['avg_speed'] < 60 

df = data[condition_distance & condition_duree & condition_vitesse]
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration_in_min,avg_speed
count,1.265906e+07,12659058,12659058,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07,1.265906e+07
mean,1.522723e+00,2015-01-16 14:46:02.054791424,2015-01-16 15:00:17.051269376,1.683847e+00,2.797855e+00,-7.265245e+01,4.002273e+01,1.028027e+00,-7.277249e+01,4.008964e+01,1.383670e+00,1.185437e+01,3.088901e-01,4.985581e-01,1.849866e+00,2.416336e-01,2.832398e-01,1.505268e+01,1.424994e+01,1.248387e+01
min,1.000000e+00,2015-01-01 00:00:00,2015-01-01 00:01:25,0.000000e+00,1.000000e-02,-1.193147e+02,0.000000e+00,1.000000e+00,-7.401667e+02,-9.029157e+00,1.000000e+00,-2.422500e+02,-7.900000e+01,-5.000000e-01,-9.242000e+01,-2.600000e+01,0.000000e+00,-2.425500e+02,1.666667e-02,3.281750e-05
25%,1.000000e+00,2015-01-09 09:29:37,2015-01-09 09:47:17,1.000000e+00,1.000000e+00,-7.399170e+01,4.073572e+01,1.000000e+00,-7.399121e+01,4.073456e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00,6.166667e+00,8.390677e+00
50%,2.000000e+00,2015-01-16 11:47:09,2015-01-16 12:01:24,1.000000e+00,1.700000e+00,-7.398164e+01,4.075322e+01,1.000000e+00,-7.397983e+01,4.075374e+01,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,1.000000e+01,1.107692e+01
75%,2.000000e+00,2015-01-23 19:17:36,2015-01-23 19:31:14.750000128,2.000000e+00,3.010000e+00,-7.396678e+01,4.076762e+01,1.000000e+00,-7.396271e+01,4.076889e+01,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.070000e+00,0.000000e+00,3.000000e-01,1.630000e+01,1.585000e+01,1.476923e+01
max,2.000000e+00,2015-01-31 23:59:59,2016-02-02 16:30:52,9.000000e+00,2.936800e+02,7.866265e+01,4.047000e+02,9.900000e+01,8.527402e+01,4.595333e+02,5.000000e+00,4.008000e+03,6.480200e+02,5.000000e-01,3.950589e+06,1.450090e+03,3.000000e-01,3.950612e+06,5.485556e+05,5.995029e+01
std,4.994834e-01,NaN,NaN,1.339892e+00,3.379483e+00,9.801455e+00,5.400447e+00,5.134132e-01,9.362608e+00,5.155140e+00,4.954540e-01,9.815222e+00,5.052100e-01,2.892863e-02,1.110355e+03,1.448874e+00,6.889953e-02,1.110420e+03,6.511594e+02,6.293178e+00

FIND Locations using Lattitude and Longitude (Work in Progress)
Either find an API giving the accurate result.
Or make by hand our own grid of NYC making rectangles for each main neighbourhood (Ex: Queens/Bronx/Manhattan/Harlem,etc) and then locating our points in those intervals

This would allow use to actually use starting and ending locations for the price prediction

In [13]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration_in_min,avg_speed
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,...,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,18.050000,5.285319
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,...,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,19.833333,9.983193
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,...,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,10.050000,10.746269
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,...,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,1.866667,16.071429
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,...,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,19.316667,9.318378

In [14]:
df["pickup_longitude"][0] # Converted latitude/longitude (N,W) format to Decimal degrees

np.float64(-73.993896484375)

EXAMPLE

In [15]:
# Coordinates (lon_min, lat_min, lon_max, lat_max)
bounds = {
    "Manhattan": (-74.0479, 40.6829, -73.9067, 40.8820),
    "Brooklyn":  (-74.0419, 40.5701, -73.8331, 40.7395),
    "Queens":    (-73.9626, 40.5431, -73.7004, 40.8007),
    "Bronx":     (-73.9339, 40.7854, -73.7654, 40.9176),
    "Staten Island": (-74.2558, 40.4960, -74.0522, 40.6490)
}

all_areas = []
for name, (lon_min, lat_min, lon_max, lat_max) in bounds.items():
    corners = [
        (lon_min, lat_min),  # Coin Sud-Ouest
        (lon_max, lat_min),  # Coin Sud-Est
        (lon_min, lat_max),  # Coin Nord-Ouest
        (lon_max, lat_max)   # Coin Nord-Est
    ]
    all_areas.append([name, corners])

In [16]:
def belongs_to(point, area): 
    # area is a list of 4 tuples for all corners of an area
    # point is a tuple of coordinates to be checked
    
    px, py = point
    
    x_coords = [c[0] for c in area]
    y_coords = [c[1] for c in area]
    
    x_min = area[0][0]
    x_max = area[3][0]
    y_min = area[0][1]
    y_max = area[3][1]
    
   
    if (x_min <= px <= x_max) and (y_min <= py <= y_max):
        return True
    return False

In [17]:
# --- Example ---
coins = [(1, 1), (5, 1), (1, 4), (5, 4)]
point_dedans = (3, 2)
point_dehors = (7, 3)

print(f"Le point {point_dedans} est-il dedans ? {belongs_to(point_dedans, coins)}")
print(f"Le point {point_dehors} est-il dedans ? {belongs_to(point_dehors, coins)}")

Le point (3, 2) est-il dedans ? True
Le point (7, 3) est-il dedans ? False

In [18]:
""""all_areas = [
    ["brooklyn",[(1, 1), (5, 1), (1, 4), (5, 4)]]
    #["brooklyn",['coords']],
    
]"""

def find_area(px,py):
    location = (px,py)
    for area in all_areas:
        if belongs_to(location, area[1]):
            return area[0]
    return "Unknown Yet"

Creating attributes

In [19]:
"""df['Pickup_Area'] = df.apply(
    lambda row: find_area(row['pickup_longitude'], row['pickup_latitude']), 
    axis=1
)

df['Dropoff_Area'] = df.apply(
    lambda row: find_area(row['dropoff_longitude'], row['dropoff_latitude']), 
    axis=1
)
df.head()"""

"df['Pickup_Area'] = df.apply(\n    lambda row: find_area(row['pickup_longitude'], row['pickup_latitude']), \n    axis=1\n)\n\ndf['Dropoff_Area'] = df.apply(\n    lambda row: find_area(row['dropoff_longitude'], row['dropoff_latitude']), \n    axis=1\n)\ndf.head()"

In [20]:
"""test3 = df[df['Dropoff_Area'] !="Manhattan"] 
test3.describe()"""

'test3 = df[df[\'Dropoff_Area\'] !="Manhattan"] \ntest3.describe()'

In [21]:
# WAY HARDER VERSION, but better:
import geopandas as gpd
from shapely.geometry import Point

url_geojson = "https://data.cityofnewyork.us/api/geospatial/w8k8-3R7t?method=export&format=GeoJSON"
gdf_boroughs = gpd.read_file(url_geojson)
gdf_boroughs = gdf_boroughs[['boro_name', 'geometry']]
gdf_boroughs = gdf_boroughs.set_crs("EPSG:4326") #Code for NYC

def find_areas_geospatial(df, gdf_shapes, lon_col, lat_col, new_area_col): 
    geometry = [Point(xy) for xy in zip(df[lon_col], df[lat_col])]
    gdf_points = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:4326") 
    gdf_joined = gpd.sjoin(gdf_points, gdf_shapes, how="left", op="within")
    gdf_joined = gdf_joined.rename(columns={'boro_name': new_area_col}) 
    gdf_joined[new_area_col] = gdf_joined[new_area_col].fillna("Unknown")
    gdf_joined = gdf_joined.drop_duplicates(subset=df.columns)
    
    return gdf_joined

df_with_pickup = find_areas_geospatial(
    df, 
    gdf_boroughs, 
    'pickup_longitude', 
    'pickup_latitude', 
    'Pickup_Area'
)

df_final = find_areas_geospatial(
    df_with_pickup, 
    gdf_boroughs, 
    'dropoff_longitude', 
    'dropoff_latitude', 
    'Dropoff_Area'
)

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
#K-Means


from sklearn.cluster import MiniBatchKMeans


# ... (supposons que 'df' est chargÃ©)

NOMBRE_DE_ZONES = 100

def find_clusters_kmeans(df, lon_col, lat_col, new_cluster_col, n_clusters):
    """
    Applique MiniBatchKMeans pour trouver des clusters.
    """
    print(f"Clustering de '{new_cluster_col}' en {n_clusters} zones...")
    
    # PrÃ©parer les donnÃ©es pour sklearn
    coords_df = df[[lon_col, lat_col]].dropna()
    
    # CHANGEMENT 1: Convertir en array NumPy
    # Cela supprime les noms de colonnes et Ã©vite l'erreur
    coords_np = coords_df.values
    
    kmeans = MiniBatchKMeans(n_clusters=n_clusters,
                             random_state=42,
                             batch_size=2048,
                             n_init='auto')
    
    # EntraÃ®ner le modÃ¨le sur l'array
    kmeans.fit(coords_np)
    
    # PrÃ©dire le cluster pour chaque point
    labels = kmeans.predict(coords_np)
    
    # Assigner les labels au DataFrame (en utilisant l'index de 'coords_df')
    cluster_labels = pd.Series(labels, index=coords_df.index, name=new_cluster_col)
    df_clustered = df.join(cluster_labels)
    df_clustered[new_cluster_col] = df_clustered[new_cluster_col].fillna(-1).astype(int)
    
    print("-> TerminÃ©.")
    return df_clustered, kmeans

# 3. Appliquer pour les DÃ‰PARTS
df_with_pickup, pickup_model = find_clusters_kmeans(
    df, 
    'pickup_longitude', 
    'pickup_latitude', 
    'Pickup_Cluster', 
    n_clusters=NOMBRE_DE_ZONES
)

# 4. Appliquer pour les ARRIVÃ‰ES (Option B CorrigÃ©e)
print("Assignation des zones d'arrivÃ©e (Dropoff)...")

# SÃ©lectionner les donnÃ©es
coords_dropoff_df = df_with_pickup[['dropoff_longitude', 'dropoff_latitude']].dropna()

# CHANGEMENT 2: Convertir les donnÃ©es de dropoff en array NumPy
coords_dropoff_np = coords_dropoff_df.values

# PrÃ©dire sur l'array (le modÃ¨le ne verra jamais les noms "dropoff_")
labels_dropoff = pickup_model.predict(coords_dropoff_np)

# Assigner les labels
dropoff_cluster_labels = pd.Series(labels_dropoff, index=coords_dropoff_df.index, name='Dropoff_Cluster')
df_final = df_with_pickup.join(dropoff_cluster_labels)
df_final['Dropoff_Cluster'] = df_final['Dropoff_Cluster'].fillna(-1).astype(int)

# 5. Analyser les rÃ©sultats
print("\nRÃ©sultat final :")
print(df_final[['Pickup_Cluster', 'Dropoff_Cluster', 'fare_amount']].head())

In [ ]:
import pandas as pd
from sklearn.cluster import MiniBatchKMeans
import numpy as np

# ... (supposons que 'df' est chargÃ©)

NOMBRE_DE_ZONES = 100

def find_clusters_kmeans(df, lon_col, lat_col, new_cluster_col, n_clusters):
    """
    Applique MiniBatchKMeans de maniÃ¨re Ã©conome en mÃ©moire, en Ã©vitant les .join()
    """
    print(f"Clustering de '{new_cluster_col}' en {n_clusters} zones...")
    
    # --- Partie 1 : PrÃ©parer les donnÃ©es (inchangÃ©e) ---
    coords_df = df[[lon_col, lat_col]].dropna()
    coords_np = coords_df.values
    
    # --- Partie 2 : EntraÃ®ner le modÃ¨le (inchangÃ©e) ---
    kmeans = MiniBatchKMeans(n_clusters=n_clusters,
                             random_state=42,
                             batch_size=2048,
                             n_init='auto')
    
    kmeans.fit(coords_np)
    
    # --- Partie 3 : PrÃ©dire (inchangÃ©e) ---
    labels = kmeans.predict(coords_np)
    
    # --- Partie 4 : Assigner les labels (LA CORRECTION) ---
    
    # Au lieu de :
    # cluster_labels = pd.Series(labels, index=coords_df.index, name=new_cluster_col)
    # df_clustered = df.join(cluster_labels)  <-- CECI CAUSE LA MEMORY ERROR
    # df_clustered[new_cluster_col] = df_clustered[new_cluster_col].fillna(-1).astype(int)

    # NOUS FAISONS CECI (beaucoup plus efficace) :
    print("Assignation des labels (Ã©conome en mÃ©moire)...")
    
    # 1. CrÃ©er un DataFrame de sortie (une copie pour Ãªtre sÃ»r)
    df_clustered = df.copy()
    
    # 2. CrÃ©er la nouvelle colonne, initialisÃ©e Ã  -1 (pour 'noise' ou 'NaN')
    df_clustered[new_cluster_col] = -1
    
    # 3. Utiliser .loc[] pour insÃ©rer les labels UNIQUEMENT aux bonnes lignes
    # C'est l'Ã©tape clÃ©. Elle modifie la colonne sans la recopier.
    df_clustered.loc[coords_df.index, new_cluster_col] = labels
    
    # 4. Assurer le bon type de donnÃ©es
    df_clustered[new_cluster_col] = df_clustered[new_cluster_col].astype(int)
    
    print("-> TerminÃ©.")
    return df_clustered, kmeans

# --- ExÃ©cution (votre code) ---

# 1. Appliquer pour les DÃ‰PARTS
df_with_pickup, pickup_model = find_clusters_kmeans(
    df, 
    'pickup_longitude', 
    'pickup_latitude', 
    'Pickup_Cluster', 
    n_clusters=NOMBRE_DE_ZONES
)

# 2. Appliquer pour les ARRIVÃ‰ES
print("Assignation des zones d'arrivÃ©e (Dropoff)...")
coords_dropoff_df = df_with_pickup[['dropoff_longitude', 'dropoff_latitude']].dropna()
coords_dropoff_np = coords_dropoff_df.values
labels_dropoff = pickup_model.predict(coords_dropoff_np)

# Utilisation de la MÃŠME technique Ã©conome en mÃ©moire pour les dropoffs
df_final = df_with_pickup.copy()
df_final['Dropoff_Cluster'] = -1
df_final.loc[coords_dropoff_df.index, 'Dropoff_Cluster'] = labels_dropoff
df_final['Dropoff_Cluster'] = df_final['Dropoff_Cluster'].astype(int)


# 3. Analyser les rÃ©sultats
print("\nRÃ©sultat final :")
print(df_final[['Pickup_Cluster', 'Dropoff_Cluster', 'fare_amount']].head())